<?xml version="1.0"?>
<launch>

    <arg name="world_name" default="$(find ant_pkg)/worlds/spawn.world" />
    <arg name="paused" default="true" />
    <arg name="gui" default="true" />   
    <arg name="model_name" default="ur5"/>

  <!--############-->
  <!--#### Creating a Custom World File source: https://classic.gazebosim.org/tutorials?tut=ros_roslaunch -->
  <!--############-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/> 
    <arg name="headless" value="false"/>  <!--false: com interface gráfica, true: sem interface gráfica-->
    <arg name="gui" value="$(arg gui)"/> <!--controla se a interface gráfica do Gazebo deve ser iniciada ou não.-->
  </include>


  <!--############-->
  <!--#### Spawn a robot into Gazebo - my URDF model (robot_description)-->
  <!--############-->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" 
        args="-file $(find ant2_pkg)/urdf/ur5_jnt_pos_ctrl.urdf -urdf 
        -x 0 -y 0 -z 1.03 
        -R 0 -P 0 -Y 1.57 
        -model ur5" />
  
  
  <!--############-->
  <!--#### Spawn a robot into Gazebo - xacro model of the Universal Robot -->
  <!--############-->


  <!--############-->
  <!--#### Controladores -->
  <!--############-->
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find ant2_pkg)/config/ur5_jnt_pos_ctrl.yaml" command="load"/>

  <param name="robot_description" textfile="$(find ant2_pkg)/urdf/ur5_jnt_pos_ctrl.urdf"/>
  
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="joint_state_controller arm_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ur5/joint_states" />
  </node>

  <!--############-->
  <!--#### Publicar os estados das juntas -->
  <!--############-->



  <!--############-->
  <!--#### Opcional: Visualização no Rviz -->
  <!--############-->






</launch>


